@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: black;
  color: white;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a.active {
  background-color: aquamarine;
}
#slider {
  background-image: url(./assets/ban.jpg);
  /* background-position: cover; */
  background-repeat: no-repeat;
  background-size: cover;
}
.card:hover .card-info {
  bottom: 0;
  transition: all;
  transition-duration: 0.5s;
}
.card:hover img {
  scale: 0.9;
  transition: all;
  transition-duration: 0.5s;
}
